fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
requests==2.32.3
typer==0.12.5
pydantic-settings>=2.3,<3

# DB & migrations

SQLAlchemy==2.0.34
alembic==1.13.2

# Auth

PyJWT==2.9.0
passlib==1.7.4
bcrypt==4.2.0

# Pydantic EmailStr support

email-validator==2.1.1
redis==5.0.7

# Observabilite
prometheus-client==0.20.0
